//////////////////////MIXIN//////////////////
@mixin breakpoint($point) {
  @if $point == medium {
    @media (min-width: 600px) {
      @content;
    }
  }
  @if $point == large {
    @media (min-width: 1200px) {
      @content;
    }
  }
}
/*responsive*/
@include breakpoint(medium) {
  .header__nav,
  .header__nav--ul {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
  }
}

@include breakpoint(large) {
  .header__nav,
  .header__nav--ul {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
  }
}
