%ft-fml-primary {
    font-size: 3rem;
    font-family: "Outfit", sans-serif;
  }
  %ft-fml-secondary {
    font-family: "Roboto Flex", sans-serif;
    font-size: 1.7rem;
  }
  %ft-fml-tertiary {
    font-family: "Roboto Flex", sans-serif;
    font-size: 1.2rem;
  }