
$font-primary: "Outfit", sans-serif;
$font-secondary: "Roboto Flex", sans-serif;
$standar-font-size: 1.2rem;
$medium-font-size: 1.7rem;
$big-font-size: 2.9rem;
$header-txt-shad: 0px 0px 5px #000;
$with-txt-shad: 0px 0px 3px #fff;