@use "abstracts/_functions.scss";
@use "abstracts/_mixins.scss";
@use "base/_typo.scss";
@use "components/cards.scss";
@use "layout/grid.scss";
@use "abstracts/_variables.scss";
@use "abstracts/_placeholders.scss";
//↓dossier pages↓
/////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////
@use "pages/home.scss";
*::before,
*::after,
body {
  margin: 0;
  padding: 0;
}
header {
  margin: 0;
  padding: 0;
  height: auto;
  width: 100%;
  position: relative;
  background: url("../images/papper4.png") no-repeat center center;
  background-size: 50%;
  & .header__title {
    @extend %ft-fml-primary;
    letter-spacing: 8px;
    font-weight: 600;
  }
  & .header__sub--title {
    @extend %ft-fml-secondary;
    letter-spacing: 2px;
  }
  & .header__nav {
    min-height: 15vh;
    width: 100%;
    background: rgba(163, 139, 139, 0.872) url("../images/papper5.png")
      no-repeat 0% 80%;
    background-size: 37%;
    z-index: 99;
    & .header__nav--ul {
      height: auto;
      width: 100%;
      & .header__ul--item {
        list-style-type: none;
        & a {
          @extend %ft-fml-tertiary;
          color: #fff;
          text-decoration: none;
          letter-spacing: 1px;
        }
        & a:hover {
          text-shadow: 0px 0px 3px #000;
          text-decoration: underline;
        }
      }
    }
  }
}
.back__to-top {
  height: 50px;
  width: 50px;
  background: rgba(163, 139, 139, 0.872);
  position: fixed;
  margin-top: 20%;
  margin-left: 95%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  z-index: 99;
  border-radius: 20px;
  text-decoration: none;
  & i {
    font-size: 1.2rem;
    color: #000;
  }
}
.back__to-top:hover {
  transition: 0.3s ease-in-out;
  cursor: pointer;
  filter: drop-shadow(0px 0px 3px #000);
}
main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
  & .main__home,
  .main__about,
  .main__gallery,
  .main__contact {
    height: auto;
    width: 100%;
  }
  & .main__home {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    & .home__text--presentaion {
      width: 55ch;
      letter-spacing: 1px;
      @extend %ft-fml-tertiary;
    }
  }
  & .main__about {
    & .about__container {
      height: 25vh;
      width: 90%;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: space-evenly;
      background: url("../images/papper3.png") no-repeat 100% 50%;
      background-size: 30%;
      & .about__title--container {
        text-align: center;
        height: 25vh;
        width: 100%;
        @extend %ft-fml-secondary;
        color: rgb(163, 139, 139, 0.872);
        letter-spacing: 2px;
      }
      & .about__txt--description {
        font-family: "Roboto Flex", sans-serif;
        font-size: 1.2rem;
        width: 90ch;
        color: #000;
        backdrop-filter: blur(5px);
        letter-spacing: 1px;
      }
    }
  }
  & .main__gallery {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    & .gallery__item {
      height: 30vh;
      width: 35vw;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-around;
      overflow: hidden;
      background: rgba(163, 139, 139, 0.872);
      background-size: cover;
      border-radius: 10px;
      & .gallery__item--txt {
        width: 25ch;
        font-size: 1.2rem;
        color: #000;
        letter-spacing: 1px;
        font-family: "Roboto Flex", sans-serif;
        font-weight: 400;
      }
      & .gallery__item--sub-container {
        height: auto;
        width: 20vw;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        & picture {
          height: 20vh;
          width: 20vw;
          overflow: hidden;
          border-radius: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          & img {
            height: auto;
            width: 20vw;
            border-radius: 10px;
            filter: contrast(140%);
          }
        }
        & figcaption {
          font-size: 0.9rem;
          color: #000;
          letter-spacing: 1px;
          font-family: "Roboto Flex", sans-serif;
        }
      }
    }
  }
  & .main__contact {
    display: flex;
    align-items: center;
    justify-content: center;
    & .main__contact--field {
      height: auto;
      width: 90%;
      overflow: hidden;
      border-radius: 10px;
      & legend {
        text-align: center;
        font-size: 1.2rem;
        color: #000;
        letter-spacing: 2px;
        font-family: "Roboto Flex", sans-serif;
      }
      & form {
        height: auto;
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: space-evenly;
        & .contact__form--sub-container {
          margin: 3px;
          height: 5vh;
          width: 50%;
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          justify-content: space-evenly;
          border-radius: 10px;
          background-color: rgba(163, 139, 139, 0.872);
          & input[type="text"] {
            height: 3vh;
            width: auto;
            border-radius: 5px;
            border: 0.5px solid #000;
          }
          & input[type="email"],
          input[type="tel"] {
            height: 3vh;
            width: auto;
            border-radius: 5px;
            border: 0.5px solid #000;
          }
        }
        & textarea {
          margin: 3px;
          height: auto;
          width: 50%;
          resize: none;
          border-radius: 5px;
        }
        & input[type="submit"] {
          margin: 3px;
          height: 3vh;
          width: auto;
          border-radius: 5px;
          border: 0.5px solid #000;
        }
        & input[type="submit"]:hover {
          transition: 0.3s ease-in-out;
          background-color: #000;
          color: #fff;
        }
      }
    }
  }
  /**SVG***/
  & svg {
    position: absolute;
    z-index: -99;
    height: auto;
    width: 100%;
    opacity: 0.3;
  }
}
footer {
  position: relative;
  top: 4vh;
  bottom: 0;
  min-height: 15vh;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(163, 139, 139, 0.872);
  & .footer__signature--container {
    height: auto;
    width: 80%;
    & small {
      font-size: 0.8rem;
      color: #fff;
      letter-spacing: 2px;
      font-family: "Roboto Flex", sans-serif;
    }
  }
}
