@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");
/*responsive*/
@media (min-width: 600px) {
  .header__nav,
  .header__nav--ul {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
  }
}
@media (min-width: 1200px) {
  .header__nav,
  .header__nav--ul {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
  }
}
header .header__title {
  font-size: 3rem;
  font-family: "Outfit", sans-serif;
}

header .header__sub--title, main .main__about .about__container .about__title--container {
  font-family: "Roboto Flex", sans-serif;
  font-size: 1.7rem;
}

header .header__nav .header__nav--ul .header__ul--item a, main .main__home .home__text--presentaion {
  font-family: "Roboto Flex", sans-serif;
  font-size: 1.2rem;
}

*::before,
*::after,
body {
  margin: 0;
  padding: 0;
}

header {
  margin: 0;
  padding: 0;
  height: auto;
  width: 100%;
  position: relative;
  background: url("../images/papper4.png") no-repeat center center;
  background-size: 50%;
}
header .header__title {
  letter-spacing: 8px;
  font-weight: 600;
}
header .header__sub--title {
  letter-spacing: 2px;
}
header .header__nav {
  min-height: 15vh;
  width: 100%;
  background: rgba(163, 139, 139, 0.872) url("../images/papper5.png") no-repeat 0% 80%;
  background-size: 37%;
  z-index: 99;
}
header .header__nav .header__nav--ul {
  height: auto;
  width: 100%;
}
header .header__nav .header__nav--ul .header__ul--item {
  list-style-type: none;
}
header .header__nav .header__nav--ul .header__ul--item a {
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
}
header .header__nav .header__nav--ul .header__ul--item a:hover {
  text-shadow: 0px 0px 3px #000;
  text-decoration: underline;
}

.back__to-top {
  height: 50px;
  width: 50px;
  background: rgba(163, 139, 139, 0.872);
  position: fixed;
  margin-top: 20%;
  margin-left: 95%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  z-index: 99;
  border-radius: 20px;
  text-decoration: none;
}
.back__to-top i {
  font-size: 1.2rem;
  color: #000;
}

.back__to-top:hover {
  transition: 0.3s ease-in-out;
  cursor: pointer;
  filter: drop-shadow(0px 0px 3px #000);
}

main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
  /**SVG***/
}
main .main__home,
main .main__about,
main .main__gallery,
main .main__contact {
  height: auto;
  width: 100%;
}
main .main__home {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
}
main .main__home .home__text--presentaion {
  width: 55ch;
  letter-spacing: 1px;
}
main .main__about .about__container {
  height: 25vh;
  width: 90%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  background: url("../images/papper3.png") no-repeat 100% 50%;
  background-size: 30%;
}
main .main__about .about__container .about__title--container {
  text-align: center;
  height: 25vh;
  width: 100%;
  color: rgba(163, 139, 139, 0.872);
  letter-spacing: 2px;
}
main .main__about .about__container .about__txt--description {
  font-family: "Roboto Flex", sans-serif;
  font-size: 1.2rem;
  width: 90ch;
  color: #000;
  backdrop-filter: blur(5px);
  letter-spacing: 1px;
}
main .main__gallery {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
}
main .main__gallery .gallery__item {
  height: 30vh;
  width: 35vw;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
  background: rgba(163, 139, 139, 0.872);
  background-size: cover;
  border-radius: 10px;
}
main .main__gallery .gallery__item .gallery__item--txt {
  width: 25ch;
  font-size: 1.2rem;
  color: #000;
  letter-spacing: 1px;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
}
main .main__gallery .gallery__item .gallery__item--sub-container {
  height: auto;
  width: 20vw;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
main .main__gallery .gallery__item .gallery__item--sub-container picture {
  height: 20vh;
  width: 20vw;
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .main__gallery .gallery__item .gallery__item--sub-container picture img {
  height: auto;
  width: 20vw;
  border-radius: 10px;
  filter: contrast(140%);
}
main .main__gallery .gallery__item .gallery__item--sub-container figcaption {
  font-size: 0.9rem;
  color: #000;
  letter-spacing: 1px;
  font-family: "Roboto Flex", sans-serif;
}
main .main__contact {
  display: flex;
  align-items: center;
  justify-content: center;
}
main .main__contact .main__contact--field {
  height: auto;
  width: 90%;
  overflow: hidden;
  border-radius: 10px;
}
main .main__contact .main__contact--field legend {
  text-align: center;
  font-size: 1.2rem;
  color: #000;
  letter-spacing: 2px;
  font-family: "Roboto Flex", sans-serif;
}
main .main__contact .main__contact--field form {
  height: auto;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
}
main .main__contact .main__contact--field form .contact__form--sub-container {
  margin: 3px;
  height: 5vh;
  width: 50%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
  background-color: rgba(163, 139, 139, 0.872);
}
main .main__contact .main__contact--field form .contact__form--sub-container input[type=text] {
  height: 3vh;
  width: auto;
  border-radius: 5px;
  border: 0.5px solid #000;
}
main .main__contact .main__contact--field form .contact__form--sub-container input[type=email],
main .main__contact .main__contact--field form .contact__form--sub-container input[type=tel] {
  height: 3vh;
  width: auto;
  border-radius: 5px;
  border: 0.5px solid #000;
}
main .main__contact .main__contact--field form textarea {
  margin: 3px;
  height: auto;
  width: 50%;
  resize: none;
  border-radius: 5px;
}
main .main__contact .main__contact--field form input[type=submit] {
  margin: 3px;
  height: 3vh;
  width: auto;
  border-radius: 5px;
  border: 0.5px solid #000;
}
main .main__contact .main__contact--field form input[type=submit]:hover {
  transition: 0.3s ease-in-out;
  background-color: #000;
  color: #fff;
}
main svg {
  position: absolute;
  z-index: -99;
  height: auto;
  width: 100%;
  opacity: 0.3;
}

footer {
  position: relative;
  top: 4vh;
  bottom: 0;
  min-height: 15vh;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(163, 139, 139, 0.872);
}
footer .footer__signature--container {
  height: auto;
  width: 80%;
}
footer .footer__signature--container small {
  font-size: 0.8rem;
  color: #fff;
  letter-spacing: 2px;
  font-family: "Roboto Flex", sans-serif;
}

/*# sourceMappingURL=main.css.map */
